:root {
    /*--color: rgb(250, 250, 240);
    --border: rgb(194, 194, 194);
    --background: rgb(240, 250, 255);*/
    --overlaybackground: rgba(0, 0, 0, 0.5);
    --text: #000000;
    --background: #fbfffc;
    --border: #8dadad;
    --accent: #dcfff6;
    --backgroundcolor: #3d423f;
    --image-color-filter: invert(1);

    --icon: url(icon_black_blush.svg);
}